[user]
	name = Samuel Petersson
	email = sam@f09.org
[credential]
	helper = osxkeychain
[core]
	editor = /usr/local/bin/vim
[url "ssh://git-u@git.stendahls.net/"]
	insteadof = stendahls:
[pull]
	rebase = true
[merge]
	ff = false
